<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-b">
<div class="container">
  <a href="/" class="navbar-brand">Kuti Autószervíz</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
    <span class="navbar-toggle-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="mobile-nav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="{{ path('stock_list') }}" class="nav-link">Kezdőlap</a>
      </li>
      <li class="nav-item">
        <a href="{{ path('new_stock') }}" class="nav-link">Új Tétel</a>
      </li>
    </ul>
  </div>
</div>

  <div>
      {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
          {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
        <a href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
      {% else %}
        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
      {% endif %}
  </div>

</nav>

